body{background-color: rgb(211,193,226);
color: black;
    padding: 0;
    margin: 0;
    text-align: center;
}
.principal{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: grid;
    border-collapse: collapse;
}
section{
    padding: 80px;
    grid-area: seção;
}

.flex{
    width: 100%;
    margin: 0;
    display:flex;
    justify-content: center;
    grid-template-columns: 80% 25%;
    border-collapse: collapse;
}
#centro{ text-align: center;
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-gap: 10px;
    padding: 0px;}

.flex img{
    align-self: center;
}

.flex{text-align: center;
    width: auto;
    height: 420px;
    padding: 0px;}

.modificar{
    text-align: center;
    width: auto;
    padding: 5px;
    grid-template-columns: 75% 25%;
}
@media(max-width:992px){
    .principal{
        grid-template-columns: 100%;
        grid-template-areas:"secao" ;
    }
}
@media(max-width:768px){
    body{
        margin: 0;
    }
}

.principal .flex .modificar{
    width: 100px;
}




.container{
    width: 95%;
    max-width: 100%;
    margin: 0;
    justify-content: center;
    display: flex;
    
}
.container{ 
    box-sizing: border-box;
    display: grid;
    border-collapse: collapse;
    align-self: center;
}

form{
    display: inline-block;
    text-align: center;
    position:sticky;
    font-size: 15px;
    background-color:rgb(199, 188, 228);
    border-radius: 8px;
    max-width: 500px;
    max-height: 640px;
    padding: 12px;}
input, textarea{
    text-align: center;
    width: 250px;
    padding: 10px;
    color: black;
    margin-left: 30px;
    margin-top: 15px;
    -webkit-border-radius: 8px;}

input:hover, textarea:hover, input:focus, textarea:focus{
    text-align: center;
    background-color: rgb(174, 162,202);
    font-weight: bold;
    border-radius: 8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border: 1px solid;
    color: black;}

input:hover, textarea:hover, input:focus, textarea:focus{
    text-align: center;
    border-color: black;
    box-shadow:5px 0px 9px;
    font-weight: bold;}

.enviar{
    background-color: rgb(174, 162,202);
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border: 1px;
    color: black;}

textarea{
    width: 400px;
    height: 120px;
    line-height: 28px;
    max-width: 370px;}

form label{
    margin-left: 20px;
    font-weight: bold;}
